<?xml version="1.0"?>
<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRekenModuleService" />
                <binding name="BasicHttpBinding_IRekenModule32" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/RekenModuleService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRekenModuleService"
                contract="ServRefRekenModule.IRekenModuleService" name="BasicHttpBinding_IRekenModuleService" />
            <endpoint address="http://localhost:8081/RekenModule32.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRekenModule32"
                contract="ServRefRekenModule32.IRekenModule32" name="BasicHttpBinding_IRekenModule32" />
        </client>
    </system.serviceModel>
</configuration>
